@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpeg);
    background-size: cover;
    background-position: center;
}
h1{
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    padding: 35px 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    background: #009688;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s width ease;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
b{
    text-decoration: underline;
    text-decoration-color: #009688;
    text-decoration-thickness: 3px;
}

button{
    width: 200px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
    padding: 15px 0;
    border-radius: 25px;
    border: 2px solid #009688;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}